# osx specific
.DS_Store

# vim swap files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# session
Session.vim

# vim temp files
.netrwhist
*~

.bundle
vendor/bundle
.env
rerun.txt
*.log
tmp/**/*
!tmp/cache/.keep
tags
!tags/
node_modules
bower_components
.npm
